{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class=" py-5 text-center bg-secondary text-white  ">
        <h1 class="mb-3">Upload Image</h1>
         <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Upload" class="btn btn-danger">
         </form>
       
    </div>
    <div class="row">
        {% for x in img %}
        <div class="col-sm-4">
            <div class="card m-2 ">
                <img src="{{x.photo.url}}" alt="" srcset="" class="card-img-top" height="200px">
            </div>
            <div class="card-footer">
                <small class="text-muted">{{x.date}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    

    <script src="{% static './js/bootstrap.bundle.js' %}"></script>
</body>
</html>